{% if shop.domain == 'store.alivecor.co.uk' %}
  <!-- UK -->
<div class="pop-up kardiacare-upsell original" id="kardiacare-upsell-popup-original">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiacare-upsell-close"
      data-category="KardiaCare Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text kardiacare-table">
      <div class="faux-p">Detect twice as many arrhythmias when you join KardiaCare</div>
      <div class="upsell-table-cont">
        {% include 'rhythm-table' %}
      </div>
      <div class="h3 subtitle">Just £99/year</div>
      <a class="btn ga-tracker"
        id="kardiacare-upsell-add"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add KardiaCare
      </a>
      <a id="kardiacare-upsell-no"
        class="upsell-no ga-tracker"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks
      </a>
    </div>
  </div>
  </div>
</div>
{% endif %}
{% if shop.domain == 'store.kardia.com' %}
<div class="w-full h-screen fixed inset-0 bg-black/70 justify-center items-center p-s4" onclick="this.style.display = 'none';" id="kc-modal-overlay" style="display: none; z-index: 99999;">
    <div onclick="event.stopPropagation()" class="kc-upsell w-full bg-white max-w-text p-s4 py-s6 sm:px-0 sm:py-s10 max-h-full overflow-scroll relative">

        <button class="absolute top-s3 right-s2" onclick="kcModalContinue()"><img width="20" src="{{ 'table-close.svg' | asset_url }}" /></button>

        <h4 class="faux-sh !font-semibold w-full text-center text-kc-500 pb-s8 pt-s3 sm:pb-s10 sm:pt-s6">Choose Your Plan</h4>

        <div class="hidden sm:!grid kcp-options w-full grid-cols-2 !gap-0 items-start text-center">

            {% comment %} <div class="hidden md:!block p-s2">Basic</div> {% endcomment %}
                <div class="border-r-2 border-kc-50 p-s2 text-kc-500">KardiaCare</div>
                    <div class="p-s2 text-kc-500 whitespace-nowrap">KardiaCare Plus</div>

            {% comment %} <div class="hidden md:!flex justify-center p-s2 text-kc-800 faux-h2"><div class="!block w-s8 h-[2px] bg-kc-800"></div></div> {% endcomment %}
                <div class="border-r-2 border-kc-50 p-s2 text-kc-800 faux-h2 font-semibold flex whitespace-nowrap"><span class="">$</span><span class="flex" id="kcPriceDesktop">99</span></div>
                    <div class="p-s2 text-kc-800 faux-h2 font-[1100] flex whitespace-nowrap"><span class="">$</span>299</div>

            {% comment %} <h6 class="hidden md:!block text-kc-500 faux-h6">Included In App</h6> {% endcomment %}
                {% comment %} <h6 class="border-r-2 border-kc-50 text-kc-800 faux-h6"><span class="py-s2 px-s3 rounded-[5px] bg-white lg:bg-transparent">Yearly</span></h6> {% endcomment %}
                <div class="border-r-2 border-kc-50 flex justify-center w-full p-s2">
                    <div class="flex flex-col xl:flex-row justify-center rounded-[5px] text-center xl:rounded-[8px] border border-kc-500 text-[1rem] overflow-hidden text-kc-500">
                        <label class="p-s2 justify-center !m-0 faux-h6 flex relative cursor-pointer" onclick="toggleMonthly(false)">
                            <input type="radio" name="kc-interval" value="year" class="mr-s1 hidden peer" checked />
                            <div class="absolute w-full h-full inset-0 peer-checked:bg-kc-500 !block z-10"></div>
                            <img src="{{ 'kcp-check.svg' | asset_url }}" class="mr-s1 hidden peer-checked:!block z-10" />
                            <img src="{{ 'kcp-uncheck.svg' | asset_url }}" class="mr-s1 peer-checked:!hidden z-10" />
                            <span class="peer-checked:text-white z-10 font-bold">Yearly</span>
                        </label>
                        <label class="p-s2 justify-center !m-0 faux-h6 flex relative cursor-pointer" onclick="toggleMonthly(true)">
                            <input type="radio" name="kc-interval" value="month" class="mr-s1 hidden peer" />
                            <div class="absolute w-full h-full inset-0 peer-checked:bg-kc-500 !block z-10"></div>
                            <img src="{{ 'kcp-check.svg' | asset_url }}" class="mr-s1 hidden peer-checked:!block z-10" />
                            <img src="{{ 'kcp-uncheck.svg' | asset_url }}" class="mr-s1 peer-checked:!hidden z-10" />
                            <span class="peer-checked:text-white z-10 font-bold">Monthly</span>
                        </label>
                    </div>
                </div>
                    <h6 class="text-kc-800 faux-h6"><span class="py-s2 px-s3 rounded-[5px] bg-white lg:bg-transparent">Yearly</span></h6>

            {% comment %} <div class="hidden md:!block"></div> {% endcomment %}
                {% comment %} <h6 class="border-r-2 border-kc-50 text-kc-500 text-[.75rem]">Save 17% Annually</h6> {% endcomment %}
                    {% comment %} <div class="!block"></div> {% endcomment %}

            {% comment %} <p class="hidden md:!block p-s4 faux-p-sm text-kc-800 !items-start">Detect and monitor basic arrhythmias using the included features in the Kardia<sup>™</sup> App.</p> {% endcomment %}
                <div class="border-r-2 border-kc-50 p-s4 sm:px-s8 !justify-start items-center flex-col">
                    <p class="faux-p-xs text-kc-400">Self-monitor and manage heart health with exclusive  tools and advanced arryhthmia detection.</p>
                    <p class="faux-p-xs text-kc-200">Starting at $9.99/month</p>
                </div>
                    <p class="p-s4 sm:px-s8 faux-p-xs text-kc-400 !items-start"><span>Everything KardiaCare has to offer plus more support from medical professionals. Includes a KardiaMobile<sup>®</sup> 6L and an Omron Evolv blood pressure cuff as a one-time gift.</span></p>

            {% comment %} <div class="hidden md:!flex justify-center !items-start"><button onclick="kcModalContinue()" class="faux-h6 border-b-2 border-kc-800 pb-s2">Continue</button></div> {% endcomment %}
                <div class="border-r-2 border-kc-50 flex flex-col !justify-start">
                    <button onclick="addKcToCart()" class="rounded-[8px] p-s3 btn btn-sm text-white faux-h6 bg-kc-800 text-[.75rem] lg:faux-h6">Select Plan</button>
                    {% comment %} <a href="/products/kardiacare" class="faux-h6 border-b-2 border-primary-500 pb-s2 text-primary-500 !mt-s8">Compare Plans</a> {% endcomment %}
                </div>
                    <div class="text-kc-800 faux-h6 !items-start"><button onclick="addKcpToCart()" class="rounded-[8px] p-s3 btn btn-sm text-white faux-h6 bg-kc-800 text-[.75rem] lg:faux-h6">Select Plan</button></div>
        </div>

        <div class="sm:hidden flex flex-col space-y-s6 kc-upsell">

            {% comment %} <div class="flex flex-col grid kcp-options grid-cols-1 shadow-nav p-s6">
                <div class="p-s2">Basic</div>
                <div class="p-s2 text-kc-800 faux-h2"></div>
                <h6 class="text-kc-500 faux-h6">Included In App</h6>
                <p class="p-s4 faux-p-sm text-kc-800 !items-start">Detect and monitor basic arrhythmias using the included features in the Kardia<sup>™</sup> App.</p>
                <div class="flex justify-center !items-start"><button onclick="kcModalContinue()" class="faux-h6 border-b-2 border-kc-800 pb-s2 !mt-s6">Continue</button></div>
            </div> {% endcomment %}

            <div class="kcp-options shadow-nav p-s6">
                <h6 class="text-kc-500 p-s3">Save 17% Annually</h6>
                <div class="p-s2 text-kc-300">KardiaCare</div>
                <div class="p-s2 text-kc-800 faux-h2 font-semibold flex whitespace-nowrap"><span class="">$</span><span class="flex" id="kcPriceMobile">99</span></div>
                <div class="flex justify-center w-full p-s2">
                    <div class="flex flex-col xl:flex-row justify-center rounded-[5px] text-center xl:rounded-[8px] border border-kc-500 text-[1rem] overflow-hidden text-kc-500">
                        <label class="p-s2 justify-center !m-0 faux-h6 flex relative cursor-pointer" onclick="toggleMonthly(false)">
                            <input type="radio" name="kc-interval-m" value="year" class="mr-s1 hidden peer" checked />
                            <div class="absolute w-full h-full inset-0 peer-checked:bg-kc-500 !block z-10"></div>
                            <img src="{{ 'kcp-check.svg' | asset_url }}" class="mr-s1 hidden peer-checked:!block z-10" />
                            <img src="{{ 'kcp-uncheck.svg' | asset_url }}" class="mr-s1 peer-checked:!hidden z-10" />
                            <span class="peer-checked:text-white z-10 font-bold">Yearly</span>
                        </label>
                        <label class="p-s2 justify-center !m-0 faux-h6 flex relative cursor-pointer" onclick="toggleMonthly(true)">
                            <input type="radio" name="kc-interval-m" value="month" class="mr-s1 hidden peer" />
                            <div class="absolute w-full h-full inset-0 peer-checked:bg-kc-500 !block z-10"></div>
                            <img src="{{ 'kcp-check.svg' | asset_url }}" class="mr-s1 hidden peer-checked:!block z-10" />
                            <img src="{{ 'kcp-uncheck.svg' | asset_url }}" class="mr-s1 peer-checked:!hidden z-10" />
                            <span class="peer-checked:text-white z-10 font-bold">Monthly</span>
                        </label>
                    </div>
                </div>
                <p class="p-s4 faux-p-sm text-kc-800 !items-start">Self-monitor and manage heart health with exclusive  tools and advanced arryhthmia detection.</p>
                <div class="text-kc-800 faux-h6 !items-start"><button onclick="addKcToCart()" class="rounded-[8px] p-s3 btn btn-sm text-white faux-h6 bg-kc-800 text-[.75rem] lg:faux-h6">Select Plan</button></div>
            </div>

            <div class="kcp-options shadow-nav p-s6">
                <div class="p-s2 text-kc-600 whitespace-nowrap">KardiaCare Plus</div>
                <div class="p-s2 text-kc-800 faux-h2 font-[1100] flex whitespace-nowrap"><span class="">$</span>299</div>
                <h6 class="text-kc-800 faux-h6"><span class="py-s2 px-s3 rounded-[5px] bg-white lg:bg-transparent">Yearly</span></h6>
                <p class="p-s4 faux-p-sm text-kc-800 !items-start"><span>Everything KardiaCare has to offer plus more support from medical professionals. Includes a KardiaMobile<sup>®</sup> 6L and an Omron Evolv blood pressure cuff as a one-time gift.</span></p>
                <div class="text-kc-800 faux-h6 !items-start"><button onclick="addKcpToCart()" class="rounded-[8px] p-s3 btn btn-sm text-white faux-h6 bg-kc-800 text-[.75rem] lg:faux-h6">Select Plan</button></div>
            </div>


            {% comment %} <div class="flex justify-center">
                <a href="/products/kardiacare" class="faux-h6 border-b-2 border-primary-500 pb-s2 text-primary-500 !mt-s6 mb-s4">Compare Plans</a>
            </div> {% endcomment %}

        </div>

        <div class="w-full justify-center mt-s10 mb-s6 sm:mb-0 flex"><button class="faux-p-xs text-kc-600 border-b-2 border-kc-600 pb-s2" onclick="kcModalContinue()">No thanks, I don't want a membership</button></div>

    </div>
</div>

<script>

    let kcFrequency = 12
    let kcVariantId = 32194082472001

    function toggleMonthly(monthly) {
        if (monthly) {
            kcFrequency = 1
            kcVariantId = 32283254751297
            document.getElementById('kcPriceMobile').innerHTML = '9<span class=\\\'faux-p mt-s4\\\'>.99</span>'
            document.getElementById('kcPriceDesktop').innerHTML = '9<span class=\\\'faux-p mt-s4\\\'>.99</span>'
            document.querySelectorAll('[name=kc-interval],[name=kc-interval-m]').forEach((el) => {
                el.checked = el.value == 'month' ? true : false
            })
        } else {
            kcFrequency = 12
            kcVariantId = 32194082472001
            document.getElementById('kcPriceMobile').innerHTML = '99'
            document.getElementById('kcPriceDesktop').innerHTML = '99'
            document.querySelectorAll('[name=kc-interval],[name=kc-interval-m]').forEach((el) => {
                el.checked = el.value == 'month' ? false : true
            })
        }
    }

    function kcOpen() {
        document.getElementById('kc-modal-overlay').style.display = 'flex';
        document.getElementsByTagName('body')[0].className += ' overflow-hidden h-screen'
    }

    /*
    The modalProduct is defined in the "add-to-cart" liquid file for each product
    */

    function addProductsToCart(products) {
        $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: { items: products},
            dataType: 'json',
            success: function () {
                const promo = new URL(window.location.href).searchParams.get("promo")
                if (promo) {
                    if (promo == "freegift") {
                        return
                    } else {
                        window.location.href = `/cart?promo=${promo}`
                    }
                } else {
                    window.location.href = '/cart';
                }
            }
        });
    }

    function kcModalContinue() {
        let products = [{ quantity: 1, id: window.modalProduct }]
        addProductsToCart(products)
    }
    function addKcToCart() {
        let products = [
            { quantity: 1, id: window.modalProduct },
            { quantity: 1, id: kcVariantId, properties: { shipping_interval_frequency: kcFrequency, shipping_interval_unit_type: "Months" }}
        ]
        addProductsToCart(products)
    }
    function addKcpToCart() {
        let km6l = 28007532101697
        let modalProduct = { quantity: 1, id: window.modalProduct }
        let kcp = { quantity: 1, id: 40291632349249, properties: { shipping_interval_frequency: 12, shipping_interval_unit_type: "Months" }}
        if (window.modalProduct == km6l) addProductsToCart([kcp])
        else addProductsToCart([modalProduct, kcp])
    }
</script>

<style>
    .kc-upsell > .kcp-options > * {
        margin: 0px!important;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: white;
    }
    .bg-black\/70 {
        background-color: rgba(0, 0, 0, 0.7);
    }
</style>
{% endif %}
