{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}

.footer {
    margin-top: {{section.settings.margin_top | times: 0.75 | round: 0}}px;
}

.section-{{section.id}}-padding {
    padding-top: {{section.settings.padding_top | times: 0.75 | round: 0}}px;
    padding-bottom: {{section.settings.padding_bottom | times: 0.75 | round: 0}}px;
}

@media screen and(min-width: 750px) {
    .footer {
        margin-top: {{section.settings.margin_top}}px;
    }

    .section-{{section.id}}-padding {
        padding-top: {{section.settings.padding_top}}px;
        padding-bottom: {{section.settings.padding_bottom}}px;
    }
}

.bottom-banner-left {
    width: calc(400px + var(--push-size));
}

{%- endstyle -%}

{% assign baseURL = "https://kardia.steadfa.st" %}

<footer class="main-footer main-fade-in">
    <div class="overflow-hidden">
        <div class="footer__content">
            <div class="footer__logo-container">
                <a aria-label="return home" class="footer-logo" href="https://kardia.steadfa.st/">
                    <svg fill="none" preserveaspectratio="xMinYMid" role="presentation" viewbox="0 0 251 191" xmlns="http://www.w3.org/2000/svg">
                        <path d="M148 68h13.5s-5.221-13.5-12.5-30.5S137 10 137 10c-2-5-4-7.3-6-8.5L125.193 13a1258.82 1258.82 0 0 1 8.307 19C140 47.25 148 68 148 68Z" fill="#6386C4"></path>
                        <path d="M103 68H89.5s5.221-13.5 12.5-30.5S114 10 114 10c2-5 4-7.3 6-8.5 2.5-2 8-2 11 0 0 0-7 15.25-13.5 30.5S103 68 103 68Z" fill="#95AEDA"></path>
                        <path d="m89.5 68-5 13h14l4.5-13H89.5Zm72 0 5 13h-14L148 68h13.5Z" fill="#164F8C"></path>
                        <path d="M36.567 105.069h-8.795l-20.69 23.29v-23.29H0v43.837h7.082v-11.114l6.59-7.337 14.606 18.335.104.116h8.743l-18.81-23.626 18.252-20.211Zm32.299 0h-10.04l-16.448 43.837h7.303l3.71-9.898h20.65l3.646 9.873h7.303l-16.046-43.592-.078-.22Zm2.958 27.469H55.622l8.185-21.763 8.017 21.763Zm57.1-13.133a14.182 14.182 0 0 0-1.076-5.53 14.24 14.24 0 0 0-7.86-7.777 14.286 14.286 0 0 0-5.553-1.029H95.497v43.837h7.017v-15.669h9.703l9.833 15.669h7.692l-10.378-16.549a13.46 13.46 0 0 0 6.939-4.89 13.406 13.406 0 0 0 2.621-8.062Zm-6.836-.194c0 4.568-3.346 7.764-8.146 7.764h-11.428v-15.527h11.921a7.38 7.38 0 0 1 5.551 2.19 7.34 7.34 0 0 1 2.102 5.573Zm33.389-14.207h-15.228v43.993h15.228a22.668 22.668 0 0 0 16.228-6.47A21.515 21.515 0 0 0 177.944 127a21.941 21.941 0 0 0-1.717-8.514 21.994 21.994 0 0 0-4.888-7.188 22.065 22.065 0 0 0-15.862-6.294Zm0 37.329h-8.146v-30.691h8.146c4.08 0 7.994 1.616 10.879 4.494a15.329 15.329 0 0 1 4.506 10.852c0 4.069-1.621 7.973-4.506 10.851a15.404 15.404 0 0 1-10.879 4.494Zm39.81-37.264h-6.836v43.837h6.836v-43.837Zm36.956.22-.078-.22h-10.04l-16.448 43.837h7.303l3.71-9.872h20.651l3.645 9.872h7.316l-16.059-43.617Zm2.88 27.301h-16.202l8.185-21.763 8.017 21.763Zm8.859-27.03h-1.375v-.491h3.36v.491h-1.388v4.037h-.597v-4.037Zm6.305 2.045c0-.634-.065-1.385-.065-1.954-.156.53-.351 1.1-.571 1.721l-.804 2.199h-.441l-.74-2.16a18.58 18.58 0 0 1-.519-1.76c0 .569 0 1.294-.09 2.005l-.13 1.941h-.558l.324-4.528h.766l.778 2.186c.181.5.332 1.01.454 1.527.117-.453.272-.957.48-1.527l.804-2.186h.753l.272 4.528h-.571l-.142-1.992Z" fill="#6386C4"></path>
                        <path d="M50.501 187.814V178h1.438v3.487a3.173 3.173 0 0 1 1.156-.913 3.275 3.275 0 0 1 1.46-.302 4.084 4.084 0 0 1 2.794 1.156 3.802 3.802 0 0 1 1.152 2.714 3.73 3.73 0 0 1-1.093 2.682 4.01 4.01 0 0 1-2.73 1.174 3.437 3.437 0 0 1-1.523-.304 3.33 3.33 0 0 1-1.216-.937v1.057h-1.438Zm6.589-3.672a2.427 2.427 0 0 0-.141-1.015 2.491 2.491 0 0 0-.55-.876 2.602 2.602 0 0 0-.866-.592 2.681 2.681 0 0 0-2.078 0 2.601 2.601 0 0 0-.867.592c-.244.252-.43.551-.55.876a2.426 2.426 0 0 0-.14 1.015c-.026.344.022.689.14 1.015a2.5 2.5 0 0 0 .55.876c.244.252.539.454.867.591a2.68 2.68 0 0 0 2.945-.591 2.5 2.5 0 0 0 .549-.876 2.43 2.43 0 0 0 .14-1.015ZM61.13 191l1.162-3.336-2.79-7.083h1.5L63 186l2-5.423h1.499L62.5 191h-1.37Zm29.53-6.216c-.418-1.024-.89-2.096-1.381-3.281-.49-1.184-1.003-2.312-1.498-3.41a455.745 455.745 0 0 0-1.542-3.385 2.681 2.681 0 0 0-.892-1.162 2.198 2.198 0 0 0-2.318 0c-.4.302-.709.704-.891 1.162a349.457 349.457 0 0 0-1.538 3.385 225.286 225.286 0 0 0-2.884 6.691 127.538 127.538 0 0 0-1.19 2.979l-.027.073h2.674v-.043a96.419 96.419 0 0 1 1.28-3.285l.026-.074c.281-.7 1.476-3.596 1.708-4.136.231-.541.477-1.111.722-1.656.245-.545.472-1.059.7-1.547.227-.489.396-.865.566-1.202.174.359.36.761.566 1.202.205.44.446 1.007.7 1.547.254.54.486 1.102.722 1.656.236.553 1.426 3.458 1.707 4.136l.031.074c.268.661.49 1.214.678 1.694.245.631.446 1.163.602 1.591v.043h2.674l-.026-.073a69.59 69.59 0 0 0-1.168-2.979Zm7.235-11.575h-2.407v14.627h9.776v-2.196h-7.369v-12.431Zm13.329 0h-2.345v14.627h2.345v-14.627Zm10.667 12.444-4.502-12.375-.027-.069h-2.532l5.327 14.627h3.446l5.314-14.485.053-.142h-2.487l-4.592 12.444Zm10.685 2.183h10.712v-2.196h-8.3v-4.046h7.453v-2.148h-7.453V175.4h8.3v-2.191h-10.712v14.627Zm21.892-12.583h.036a5.056 5.056 0 0 1 2.739.793 4.831 4.831 0 0 1 1.83 2.129l.04.082 2.318-.635-.053-.113a7.323 7.323 0 0 0-2.981-3.417 7.675 7.675 0 0 0-4.482-1.074 7.777 7.777 0 0 0-4.659 2.026 7.348 7.348 0 0 0-2.312 4.415 7.34 7.34 0 0 0 .26 3.182 7.509 7.509 0 0 0 1.59 2.796 7.564 7.564 0 0 0 2.577 1.846c.984.43 2.053.651 3.133.648a7.544 7.544 0 0 0 4.134-1.217 7.208 7.208 0 0 0 2.722-3.252l.049-.113-2.34-.614-.036.083a4.711 4.711 0 0 1-1.811 2.105 4.933 4.933 0 0 1-2.718.756c-2.973 0-5.216-2.239-5.216-5.187a5.171 5.171 0 0 1 .391-2.06c.27-.655.672-1.25 1.183-1.752a5.076 5.076 0 0 1 1.656-1.063 5.197 5.197 0 0 1 1.95-.364Zm18.197-2.191a7.876 7.876 0 0 0-4.3 1.225 7.536 7.536 0 0 0-2.868 3.338 7.264 7.264 0 0 0-.467 4.322 7.402 7.402 0 0 0 2.093 3.842 7.773 7.773 0 0 0 3.944 2.063 7.932 7.932 0 0 0 4.461-.415 7.661 7.661 0 0 0 3.467-2.752 7.31 7.31 0 0 0-.925-9.419 7.798 7.798 0 0 0-5.405-2.204Zm5.197 7.465c0 2.943-2.282 5.247-5.197 5.247a5.207 5.207 0 0 1-2.102-.423 5.067 5.067 0 0 1-1.732-1.228 5.419 5.419 0 0 1-1.138-1.99 5.296 5.296 0 0 1-.199-2.268 5.136 5.136 0 0 1 1.697-3.254 5.44 5.44 0 0 1 3.487-1.366h.08c2.862.056 5.104 2.377 5.104 5.282Zm17.474-2.538a4.619 4.619 0 0 0-.371-1.842 4.74 4.74 0 0 0-1.079-1.56 4.912 4.912 0 0 0-1.617-1.033 5.042 5.042 0 0 0-1.903-.346h-6.504v14.628h2.43v-5.23h3.33l3.374 5.23h2.639l-3.566-5.524a4.62 4.62 0 0 0 2.374-1.635 4.386 4.386 0 0 0 .893-2.688Zm-2.358-.056c0 1.526-1.15 2.594-2.795 2.594h-3.891v-5.188h4.092a2.62 2.62 0 0 1 1.022.181c.325.129.618.321.862.564.244.244.433.534.555.852.122.319.175.658.155.997Zm5.926-1.524c.889 0 1.595-.701 1.595-1.534v-.009c0-.833-.697-1.525-1.595-1.525-.889 0-1.594.701-1.594 1.534v.009c0 .833.696 1.525 1.594 1.525Zm0-.166c-.806 0-1.411-.614-1.411-1.359v-.009c0-.745.614-1.368 1.411-1.368.807 0 1.411.614 1.411 1.359v.009c0 .745-.614 1.368-1.411 1.368Zm-.595-.632h.256v-.561h.385l.403.561h.321l-.449-.596c.22-.061.394-.21.394-.464 0-.307-.266-.474-.596-.474h-.714v1.534Zm.256-.762v-.553h.431c.22 0 .357.088.357.272 0 .167-.128.281-.357.281h-.431Z" fill="#195C5D"></path>
                    </svg>
                </a>
                <ul class="list-none flex flex-wrap gap-s4 mt-s7">
                    <li class="block">
                        <a aria-label="linke to instagram profile" class="text-primary-500 hover/focus:text-primary-900 transition-all duration-500 ease-in-out" href="https://www.instagram.com/alivecor/" rel="noopener" target="_blank">
                          <svg viewBox="0 0 24 24" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" id="icon-definition"><path d="M12 3.802c2.67 0 2.986.01 4.04.058a5.52 5.52 0 0 1 1.857.345c.435.16.828.415 1.15.748.333.322.588.715.748 1.15a5.52 5.52 0 0 1 .345 1.856c.048 1.055.058 1.371.058 4.041 0 2.67-.01 2.986-.058 4.04a5.52 5.52 0 0 1-.345 1.857 3.313 3.313 0 0 1-1.898 1.899 5.52 5.52 0 0 1-1.856.344c-1.055.048-1.371.058-4.041.058-2.67 0-2.986-.01-4.04-.058a5.52 5.52 0 0 1-1.857-.345 3.09 3.09 0 0 1-1.15-.748 3.092 3.092 0 0 1-.748-1.15 5.52 5.52 0 0 1-.345-1.856c-.048-1.055-.058-1.371-.058-4.041 0-2.67.01-2.986.058-4.04a5.52 5.52 0 0 1 .345-1.857 3.09 3.09 0 0 1 .748-1.15 3.09 3.09 0 0 1 1.15-.748 5.52 5.52 0 0 1 1.856-.345C9.014 3.812 9.33 3.802 12 3.802zM12 2c-2.715 0-3.056.012-4.123.06a7.37 7.37 0 0 0-2.427.465 5.113 5.113 0 0 0-2.925 2.93 7.37 7.37 0 0 0-.465 2.427C2.012 8.944 2 9.285 2 12c0 2.716.012 3.056.06 4.123.017.83.174 1.65.465 2.427a5.113 5.113 0 0 0 2.93 2.925c.777.29 1.597.448 2.427.465 1.062.048 1.403.06 4.118.06 2.716 0 3.056-.012 4.123-.06a7.371 7.371 0 0 0 2.427-.465 5.114 5.114 0 0 0 2.925-2.93c.29-.777.448-1.597.465-2.427.048-1.062.06-1.402.06-4.118 0-2.715-.012-3.056-.06-4.123a7.371 7.371 0 0 0-.465-2.427 5.115 5.115 0 0 0-2.93-2.925 7.37 7.37 0 0 0-2.427-.465C15.056 2.012 14.716 2 12 2z" fill="currentColor"/><path d="M12 6.865a5.135 5.135 0 1 0 0 10.27 5.135 5.135 0 0 0 0-10.27zm0 8.469a3.334 3.334 0 1 1 0-6.668 3.334 3.334 0 0 1 0 6.668zm5.338-7.472a1.2 1.2 0 1 0 0-2.4 1.2 1.2 0 0 0 0 2.4z" fill="currentColor"/></svg>
                        </a>
                    </li>
                    <li class="block">
                        <a aria-label="linke to facebook profile" class="text-primary-500 hover/focus:text-primary-900 transition-all duration-500 ease-in-out" href="https://www.facebook.com/AliveCor/" rel="noopener" target="_blank">
                          <svg viewBox="0 0 24 24" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" id="icon-definition"><path d="m9.518 22-.027-9.09H6V9.272h3.49V7c0-3.374 2.007-5 4.896-5 1.384 0 2.574.107 2.92.155v3.526l-2.004.001c-1.571 0-1.875.778-1.875 1.92v1.67H18l-1.745 3.637h-2.828V22H9.518z" fill="currentColor"/></svg>
                        </a>
                    </li>
                    <li class="block">
                        <a aria-label="linke to twitter profile" class="text-primary-500 hover/focus:text-primary-900 transition-all duration-500 ease-in-out" href="https://twitter.com/alivecor" rel="noopener" target="_blank">
                          <svg viewBox="0 0 24 24" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" id="icon-definition"><path d="M24 4.3c-.9.4-1.8.7-2.8.8 1-.6 1.8-1.6 2.2-2.7-1 .6-2 1-3.1 1.2-.9-1-2.2-1.6-3.6-1.6-2.7 0-4.9 2.2-4.9 4.9 0 .4 0 .8.1 1.1-4.2-.2-7.8-2.2-10.2-5.2-.5.8-.7 1.6-.7 2.5 0 1.7.9 3.2 2.2 4.1-.8 0-1.6-.2-2.2-.6v.1c0 2.4 1.7 4.4 3.9 4.8-.4.1-.8.2-1.3.2-.3 0-.6 0-.9-.1.6 2 2.4 3.4 4.6 3.4-1.7 1.3-3.8 2.1-6.1 2.1-.4 0-.8 0-1.2-.1 2.2 1.4 4.8 2.2 7.5 2.2 9.1 0 14-7.5 14-14v-.6c1-.7 1.8-1.6 2.5-2.5z" fill="currentColor"/></svg>
                        </a>
                    </li>
                    <li class="block">
                        <a aria-label="linke to linkedin profile" class="text-primary-500 hover/focus:text-primary-900 transition-all duration-500 ease-in-out" href="https://www.linkedin.com/company/alivecor/" rel="noopener" target="_blank">
                          <svg viewBox="0 0 24 24" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" id="icon-definition"><path d="M7.027 5.74c0 .96-.786 1.738-1.756 1.738S3.514 6.7 3.514 5.74 4.3 4 5.271 4c.97 0 1.756.78 1.756 1.74zm.015 3.13H3.5V20h3.542V8.87zm5.654 0h-3.52V20h3.52v-5.843c0-3.248 4.27-3.514 4.27 0V20H20.5v-7.048c0-5.481-6.32-5.282-7.804-2.583v-1.5z" fill="currentColor"/></svg>
                        </a>
                    </li>
                </ul>
            </div>
            <nav class="footer__nav-container">
                <ul class="nav-footer list-none">
                    <li class="menu__item level--1  has-dropdown">
                        <a class="menu__link flex items-center relative link-level--1 " href="https://alivecor-retheme.netlify.app" rel="noopener" target="">Company</a>
                        <div class="submenu-items-wrapper">
                            <div class="submenu-items-wrapper-int">
                                <ul class="submenu-items level--1 list-none">
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://alivecor-retheme.netlify.app/mission/" rel="noopener" target="">Mission</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://alivecor-retheme.netlify.app/leadership-team/" rel="noopener" target="">Leadership</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://alivecor-retheme.netlify.app/research/" rel="noopener" target="">Research</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://alivecor-retheme.netlify.app/press/" rel="noopener" target="">Newsroom</a>
                                    </li>
                                    <li class="menu__item level--2 last-item ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://alivecor-retheme.netlify.app/careers/" rel="noopener" target="">Careers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button aria-controls="collapse17" aria-label="toggle submenu" class="submenu-btn to-lg:hidden">
                            <svg class="share__icon w-icon-24 h-icon-24" role="presentation">
                                <use xlink:href="/assets/icons/24/arrow-sm-down.svg#icon-definition"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="menu__item level--1  has-dropdown">
                        <a class="menu__link flex items-center relative link-level--1 " href="https://store.kardia.com/" rel="noopener" target="">Products</a>
                        <div class="submenu-items-wrapper">
                            <div class="submenu-items-wrapper-int">
                                <ul class="submenu-items level--1 list-none">
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/products/kardiamobile-card" rel="noopener" target="">KardiaMobile Card</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/products/kardiamobile6l" rel="noopener" target="">KardiaMobile 6L</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/products/kardiamobile" rel="noopener" target="">KardiaMobile</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://store.kardia.com/products/kardiacare" rel="noopener" target="">KardiaCare</a>
                                    </li>
                                    <li class="menu__item level--2 last-item ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://kardia.steadfa.st/international" rel="noopener" target="">International</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button aria-controls="collapse19" aria-label="toggle submenu" class="submenu-btn to-lg:hidden">
                            <svg class="share__icon w-icon-24 h-icon-24" role="presentation">
                                <use xlink:href="/assets/icons/24/arrow-sm-down.svg#icon-definition"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="menu__item level--1  has-dropdown">
                        <a class="menu__link flex items-center relative link-level--1 " href="https://alivecor.zendesk.com/hc/en-us" rel="noopener" target="">Support</a>
                        <div class="submenu-items-wrapper">
                            <div class="submenu-items-wrapper-int">
                                <ul class="submenu-items level--1 list-none">
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://alivecor.zendesk.com/hc/en-us" rel="noopener" target="">FAQs</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://alivecor.zendesk.com/hc/en-us/articles/1500000462022" rel="noopener" target="">User Manuals</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://alivecor.zendesk.com/hc/en-us/articles/1500000449521" rel="noopener" target="">Compatibility</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://kardia.steadfa.st/shipping" rel="noopener" target="">Shipping</a>
                                    </li>
                                    <li class="menu__item level--2 last-item ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://kardia.steadfa.st/warranty" rel="noopener" target="">Warranty</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button aria-controls="collapse21" aria-label="toggle submenu" class="submenu-btn to-lg:hidden">
                            <svg class="share__icon w-icon-24 h-icon-24" role="presentation">
                                <use xlink:href="/assets/icons/24/arrow-sm-down.svg#icon-definition"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="menu__item level--1 last-item has-dropdown">
                        <a class="menu__link flex items-center relative link-level--1 " rel="noopener" target="">Legal</a>
                        <div class="submenu-items-wrapper">
                            <div class="submenu-items-wrapper-int">
                                <ul class="submenu-items level--1 list-none">
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://kardia.steadfa.st/privacy-policy" rel="noopener" target="">Privacy</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://kardia.steadfa.st/terms-of-service" rel="noopener" target="">Terms</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://kardia.steadfa.st/security" rel="noopener" target="">Security</a>
                                    </li>
                                    <li class="menu__item level--2  ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://kardia.steadfa.st/accessibility" rel="noopener" target="">Accessibility</a>
                                    </li>
                                    <li class="menu__item level--2 last-item ">
                                        <a class="menu__link flex items-center relative link-level--2 " href="https://kardia.steadfa.st/telehealth-informed-consent" rel="noopener" target="">Telehealth Informed Consent</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button aria-controls="collapse23" aria-label="toggle submenu" class="submenu-btn to-lg:hidden">
                            <svg class="share__icon w-icon-24 h-icon-24" role="presentation">
                                <use xlink:href="/assets/icons/24/arrow-sm-down.svg#icon-definition"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="footer__copyright">
                <div class="footer__copyright-int">
                    <p class="text-white faux-p-xs">©2022 AliveCor, Inc. All Rights Reserved. US Patent Nos 8.301.282, 8.509.862 and Patents Pending.
                          AliveCor and Kardia are trademarks of AliveCor, Inc. in the United States and other countries.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% schema %}

{
    "name": "t:sections.footer.name",
    "blocks": [
        {
            "type": "link_list",
            "name": "t:sections.footer.blocks.link_list.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Quick links",
                    "label": "t:sections.footer.blocks.link_list.settings.heading.label",
                    "info": "t:sections.footer.blocks.link_list.settings.heading.info"
                }, {
                    "type": "link_list",
                    "id": "menu",
                    "default": "footer",
                    "label": "t:sections.footer.blocks.link_list.settings.menu.label",
                    "info": "t:sections.footer.blocks.link_list.settings.menu.info"
                }
            ]
        }, {
            "type": "text",
            "name": "t:sections.footer.blocks.text.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Heading",
                    "label": "t:sections.footer.blocks.text.settings.heading.label"
                }, {
                    "type": "richtext",
                    "id": "subtext",
                    "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
                    "label": "t:sections.footer.blocks.text.settings.subtext.label"
                }
            ]
        }, {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }, {
                    "type": "range",
                    "id": "image_width",
                    "min": 50,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "label": "Image width",
                    "default": 100
                }, {
                    "type": "select",
                    "id": "alignment",
                    "label": "Image alignment on large screen",
                    "options": [
                        {
                            "value": "",
                            "label": "Left"
                        }, {
                            "value": "center",
                            "label": "Center"
                        }, {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.footer.settings.color_scheme.options__1.label"
                }, {
                    "value": "accent-2",
                    "label": "t:sections.footer.settings.color_scheme.options__2.label"
                }, {
                    "value": "background-1",
                    "label": "t:sections.footer.settings.color_scheme.options__3.label"
                }, {
                    "value": "background-2",
                    "label": "t:sections.footer.settings.color_scheme.options__4.label"
                }, {
                    "value": "inverse",
                    "label": "t:sections.footer.settings.color_scheme.options__5.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.footer.settings.color_scheme.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__1.content",
            "info": "t:sections.footer.settings.header__1.info"
        }, {
            "type": "checkbox",
            "id": "newsletter_enable",
            "default": true,
            "label": "t:sections.footer.settings.newsletter_enable.label"
        }, {
            "type": "text",
            "id": "newsletter_heading",
            "default": "Subscribe to our emails",
            "label": "t:sections.footer.settings.newsletter_heading.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__2.content",
            "info": "t:sections.footer.settings.header__2.info"
        }, {
            "type": "checkbox",
            "id": "show_social",
            "default": false,
            "label": "t:sections.footer.settings.show_social.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__3.content",
            "info": "t:sections.footer.settings.header__4.info"
        }, {
            "type": "checkbox",
            "id": "enable_country_selector",
            "default": true,
            "label": "t:sections.footer.settings.enable_country_selector.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__5.content",
            "info": "t:sections.footer.settings.header__6.info"
        }, {
            "type": "checkbox",
            "id": "enable_language_selector",
            "default": true,
            "label": "t:sections.footer.settings.enable_language_selector.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__7.content"
        }, {
            "type": "checkbox",
            "id": "payment_enable",
            "default": true,
            "label": "t:sections.footer.settings.payment_enable.label"
        }, {
            "type": "header",
            "content": "t:sections.all.spacing"
        }, {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.footer.settings.margin_top.label",
            "default": 0
        }, {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        }, {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        }, {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ],
    "default": {
        "blocks": [
            {
                "type": "link_list"
            }, {
                "type": "text"
            }
        ]
    }
}

{% endschema %}
