{% style %}
  .country-dropdown {
    position: relative;
  }

  .selected-country-option {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 240px;
  }

  .country-options {
    display: none;
    position: absolute;
    top: 100%;
    left: -18px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0 0 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .country-options li {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .country-options li a {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .country-options li img,
  .selected-country-option img {
    position: relative;
    height: 18px;
    width: auto;
  }

  #country-selector-holder {
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
    border-radius: 8px;
  }

  #country-selector-holder-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 32px;
  }

  .show-options {
    display: block; /* Add this rule to show the options when needed */
    margin: 0;
  }

  #kardia-header-logo {
    height: 24px;
    width: auto;
  }

  .main-header,
  .grid-main,
  #shopify-section-kardia-header {
    display: none;
  }
{% endstyle %}

{% include 'domainDetect' %}

{% if siteDomain == "gb" %}
  {% assign kmYearlyPrice = "£81.00" %}
  {% assign kmMonthlyPrice = "£9.00" %}
  {% assign currentCountry = "United Kingdom" %}
  {% assign flagName = "flag-uk.svg" %}
{% elsif siteDomain == "ca" %}
  {% assign kmYearlyPrice = "$135.00" %}
  {% assign kmMonthlyPrice = "$14.00" %}
  {% assign currentCountry = "Canada" %}
  {% assign flagName = "flag-canada.svg" %}
{% elsif siteDomain == "ay" %}
  {% assign kmYearlyPrice = "$156.00" %}
  {% assign kmMonthlyPrice = "$16.00" %}
  {% assign currentCountry = "Australia" %}
  {% assign flagName = "flag-australia.svg" %}
{% else %}
  {% assign kmYearlyPrice = "$99.99" %}
  {% assign kmMonthlyPrice = "$9.99" %}
  {% assign currentCountry = "Australia" %}
  {% assign flagName = "flag-australia.svg" %}
{% endif %}

<div id="country-selector-holder-wrapper">
  <img id="kardia-header-logo" src="{{ 'kardia-blue-logo.svg'| asset_url }}" />
  <div id="country-selector-holder">
    <div class="country-dropdown">
      <div class="selected-country-option">
        <img src="{{ flagName | asset_url }}" />
        <p>{{ currentCountry }}</p>
      </div>
      <ul class="country-options">
        <li data-value="au">
          <a href="https://store.kardia.com/en-au/pages/globalrechargetest">
            <img src="{{ 'flag-australia.svg'| asset_url }}" />
            <p>Australia</p>
          </a>
        </li>
        <li data-value="ca">
          <a href="https://store.kardia.com/en-ca/pages/globalrechargetest">
            <img src="{{ 'flag-canada.svg'| asset_url }}" />
            <p>Canada</p>
          </a>
        </li>
        <li data-value="gb" class="pb-s3">
          <a href="https://store.kardia.com/en-gb/pages/globalrechargetest">
            <img src="{{ 'flag-uk.svg'| asset_url }}" />
            <p>United Kingdom</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  const customDropdown = document.querySelector(".country-dropdown");
  const selectedOption = customDropdown.querySelector(".selected-country-option");
  const optionsList = customDropdown.querySelector(".country-options");
  selectedOption.addEventListener("click", () => {
    optionsList.classList.toggle("show-options");
  });
  optionsList.addEventListener("click", (e) => {
    if (e.target.tagName === "LI") {
      const selectedValue = e.target.getAttribute("data-value");
      const selectedText = e.target.textContent;
      const selectedFlag = e.target.querySelector("img").src;
      selectedOption.innerHTML = `<img src="${selectedFlag}" alt="${selectedValue} Flag">${selectedText}`;
      optionsList.classList.remove("show-options");
// Use the selectedValue for further processing
      console.log("Selected Value:", selectedValue);
    }
  });
</script>