{% include 'domainDetect' %}

{% style %}

  .kcGlobalRecharge {
    padding: 40px 24px 32px;
    max-width: 1160px;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .kardiaBenefitsTableGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .kardiaBenefitsTableGrid .benefitsTableHeading {
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;

  }

  .kardiaBenefitsTableGrid .benefitsTableContent {
    grid-column: 2 /span 3;
    grid-row: 1 /span 1;
  }

  @media screen and (max-width: 800px) {
    .kardiaBenefitsTableGrid .benefitsTableHeading {
      grid-column: 1 /span all;
      grid-row: 1 /span 1;

    }

    .kardiaBenefitsTableGrid .benefitsTableContent {
      grid-column: 1 /span all;
      grid-row: 2 /span 1;
    }
  }
{% endstyle %}

<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="bg-kc-500 text-white col-span-1 row-start-1 px-s3 py-s5 m-0">Feature</h5>
  <h5 class="bg-kc-800 text-white col-span-3 row-start-1 px-s3 py-s5 m-0">Description</h5>
</div>

{% for feature in shop.metaobjects.kardiacare_benefits.values %}
  <div class="kardiaBenefitsTableGrid m-0 border-b-2 border-primary-75 content-start">
    <div class="benefitsTableHeading px-s3 py-s5 m-0 flex align-top justify-between h-min">
      <h5 class="text-kc-800 h-min">{{ feature.title }}</h5>
      <img
        class="h-min self-start"
        src="{{ 'info.svg' | asset_url }}"
        width="20px"
        height="auto"
        id="benefitsInfo{{ forloop.index }}" />
    </div>
    <p class="benefitsTableContent bg-kc-50 px-s3 py-s5 m-0" id="benefitsDescription{{ forloop.index }}">{{ feature.description }}</p>
  </div>
{% endfor %}

<div class="kardiaBenefitsTableGrid m-0 border-b-2 border-primary-75 content-start">
  <div class="benefitsTableHeading px-s3 py-s5 m-0 flex align-top justify-between h-min">
    <h5 class="text-kc-800 h-min">Heart Health Summary Report</h5>
    <img
      class="h-min self-start benefitsInfo"
      src="{{ 'info.svg' | asset_url }}"
      width="20px"
      height="auto"
      id="benefitsInfo3"/>
  </div>
  <p class="benefitsTableContent bg-kc-50 px-s3 py-s5 m-0" id="benefitsDescription3">Track your heart health over time. Generate a summary of your EKG, blood pressure, and weight data.</p>
</div>

<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Medication tracking</h5>
  <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Set reminders to take specific medication at your doctor's recommendation and track your medication history.</p>
</div>
<div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
  <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Cloud storage</h5>
  <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Enjoy secure access to all of your EKG recordings on any device with unlimited cloud storage.</p>
</div>
{% if siteDomain == "gb" %}
  <div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
    <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Clinician review</h5>
    <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Get your EKGs reviewed by a board-certified cardiologist for £9.99</p>
  </div>
{% elsif siteDomain == "us" %}
  <div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
    <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Clinician review</h5>
    <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Get four of your EKGs reviewed by a board-certified cardiologist each year</p>
  </div>
  <div class="grid grid-cols-4 m-0 border-b-2 border-primary-75">
    <h5 class="col-span-1 row-start-1 px-s3 py-s5 m-0 text-kc-800">Device replacement</h5>
    <p class="bg-kc-50 col-span-3 row-start-1 px-s3 py-s5 m-0">Receive discounted device replacement on KardiaMobile 6L if lost or stolen for just $19.99.</p>
  </div>
{% endif %}

{% schema %}
  {
    "name": "KcBenefitsTable",
    "class": "kcGlobalRecharge",
    "settings": []
  }
{% endschema %}